* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.itemlist ul {
  display: flex;
  flex-direction: row;
  gap: 45px;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: rgb(241, 241, 88);
  flex-wrap: wrap;
  background-image: url(../../../public/assets/images/backgroundimage6.png);
  background-size: cover;
}


