* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: beige;
  align-items: center;
  justify-content: space-around;
  border: 3px solid black;
}

.lista {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 45px;
}

.lista button {
  background-color: rgb(228, 152, 53);
  border: 2px solid black;
  color: black;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
