* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cartlist {
  background-color: rgb(241, 241, 88);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  
}
.Card {
  width: 300px;
  height: auto;
  border: 3px solid #080808;
  border-radius: 5px;
  padding: 10px;
  margin: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: rgb(234, 250, 4);
}

.Card img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}

.Card p {
  font-size: 15px;

  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2px;
}

.Card h4 {
  font-size: 15px;

  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 2px;
}

.Card button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

.Card button:hover {
  background-color: #3e8e41;
}
